<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Registration Page</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <h2>Employee Registration Page</h2>
    <div class="container">
      <form class="" action="thanks.html" method="get">
        {{form.as_p}}
        {% csrf_token %}
      <input type="submit" name="" value="Emp_Register"<button type="button" class="btn btn-primary btn-md"></button>

    </form>
    </div>
  </body>
</html>
